<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head th:replace="fragments/header :: head('게시판')"></head>

    <body>
        <style>
            .table th,
            .table td {
                white-space: nowrap;
            }
        </style>
        <nav th:replace="fragments/header :: header"></nav>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-9 col-6">
                    <h3>게시판</h3>
                </div>
                <div class="col-lg-3 col-6">
                    <form th:action="@{/boards}" method="get">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                name="search"
                                th:value="${param.search}"
                            />
                            <div class="input-group-text">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-search"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                    />
                                </svg>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div
                th:if="${message}"
                class="alert alert-danger alert-dismissible fade show my-2 py-2"
                role="alert"
            >
                <span th:text="${message}">error</span>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5rem">번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th style="width: 5rem"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${boards}">
                            <td scope="row" class="ps-3 py-2.5" th:text="${item.id}">1</td>
                            <td>
                                <a
                                    class="d-flex align-items-center text-dark text-decoration-none"
                                    th:onclick="|prepareShowBoard(${item.id}, ${item.password != null})|"
                                >
                                    <svg
                                        th:if="${item.password != null}"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-lock me-2"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
                                        />
                                    </svg>
                                    <span th:text="${item.title}">테스트</span>
                                </a>
                            </td>
                            <td th:text="${item.user.username}">김향진</td>
                            <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                                2022-12-23 01:12
                            </td>
                            <td>
                                <a
                                    class="me-2 text-dark text-decoration-none"
                                    th:onclick="|prepareEditBoard(${item.id}, ${item.password != null})|"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-pencil-square"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                                        />
                                        <path
                                            fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                                        />
                                    </svg>
                                </a>
                                <button
                                    class="bg-transparent p-0 border-0"
                                    th:onclick="|prepareDeleteBoard(${item.id})|"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-trash"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                                        />
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                        />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-end align-items-center my-5 pb-5">
                <div class="col-lg-8 col-12 mb-lg-0 mb-2">
                    <div
                        th:if="${boards.totalPages > 0 && boards.totalPages > boards.pageable.pageNumber}"
                        class="d-flex justify-content-center"
                    >
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-0">
                                <li
                                    class="page-item"
                                    th:classappend="${1 == boards.pageable.pageNumber + 1 ? 'disabled' : ''}"
                                >
                                    <a
                                        class="page-link"
                                        th:href="@{/boards(page=${boards.pageable.pageNumber - 1}, search=${param.search})}"
                                        >Previous</a
                                    >
                                </li>
                                <li
                                    class="page-item"
                                    th:each="i : ${#numbers.sequence(startPage, endPage)}"
                                    th:classappend="${i == boards.pageable.pageNumber + 1 ? 'disabled' : ''}"
                                >
                                    <a
                                        class="page-link"
                                        th:href="@{/boards(page=${i-1}, search=${param.search})}"
                                        th:text="${i}"
                                        >1</a
                                    >
                                </li>
                                <li
                                    class="page-item"
                                    th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1 ? 'disabled' : ''}"
                                >
                                    <a
                                        class="page-link"
                                        th:href="@{/boards(page=${boards.pageable.pageNumber + 1}, search=${param.search})}"
                                        >Next</a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 d-grid">
                    <a class="btn btn-outline-dark" th:href="@{/boards/create}"> 글쓰기 </a>
                </div>
            </div>
        </div>

        <form class="d-none" id="delete-board" th:action="@{/boards/1}" th:method="delete"></form>
        <div th:replace="fragments/footer :: modal-confirm('게시글 삭제', '예', '아니오')"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
